html,body{height:100%;}



/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */




.loginwith_mobile {
  
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.mobile__login {
  position: relative;
  top: 3rem;
  background-color: cadetblue;
  height: 200px;
  border: 1px solid;
  color: black;
  border-radius: 10px;
}

.mobile__login > form {
  position: relative;
  top: 2rem;
  padding: 10px;
}

.mobile__login > input[type=password] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.mobile__login > input[type=number] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.another__login{
  margin-top: 20px;
}
.another__login > a{
  text-decoration: none;
}

.sidebar{
  position: absolute;
  flex: 0.2;
  text-align: center;
  height: fit-content;
  background-color: #683CB8;
  height: 100%;
  width: 20%;
  
  }

  /* .sidebar__item{
    position: sticky;
    top: 80px;
    flex: 0.2;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
  } */

  .sidebar li{
    list-style: none;
    min-height : 45px;
    vertical-align : middle;
    padding-top: 2rem;
    align-items: center;
    text-align: center;
    padding-right: 5rem;
  }

  .sidebar li a{
    text-decoration: none;
    color: #ffffff;
    
  }