.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loginwith_mobile {
  
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.mobile__login {
  position: relative;
  top: 3rem;
  background-color: cadetblue;
  height: 200px;
  border: 1px solid;
  color: black;
  border-radius: 10px;
}

.mobile__login > form {
  position: relative;
  top: 2rem;
  padding: 10px;
}

.mobile__login > input[type=password] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.mobile__login > input[type=number] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.another__login{
  margin-top: 20px;
}
.another__login > a{
  text-decoration: none;
}